// base styles für das gesamte projekt
// organisiert mit SMACSS (Scalable and Modular Architecture for CSS)

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    --color-background: rgb(255, 255, 255);
    --color-text: rgb(0, 0, 0);
    --color-accent: rgb(136, 136, 136);
    --color-border: rgb(238, 238, 238);
    --color-primary: var(--color-text); 
    --color-secondary: var(--color-accent);

    --font-family-sans: "Segoe UI", Roboto, "Helvetica";

    --font-size-lg: 1.125rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 2.5rem;
    --font-size-hero: 4rem;

    --content-width: 1200px;
    --spacing-small: 1rem;
    --spacing-medium: 2rem;
    --spacing-large: 4rem;
    --line-height-base: 1.6;

    // für js animation scroll
    --scroll-percent: 0%;
}

// fadein animation bei neuladen der seite mit @keyframes
@keyframes fadeIn {
    from { 
        opacity: 0; transform: translateY(20px); 
    }
    to { 
        opacity: 1; transform: translateY(0); 
    }
}

html {
    font-size: 1rem; 
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family-sans);
    color: var(--color-text);
    background-color: var(--color-background);
    line-height: var(--line-height-base);
    min-block-size: 100vh;
    // animation: name dauer verzögerungsart (ease-out: schnell start, langsam ende)
    animation: fadeIn 0.8s ease-out;
}

h1, h2, h3, h4 {
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: var(--spacing-small);
    text-wrap: balance;
    padding: 0 1rem;
}

p {
    margin-bottom: var(--spacing-small);
    max-inline-size: 60ch;
    text-wrap: pretty;
    padding: 0 1rem;
}

ul, ol {
    margin-left: var(--spacing-medium);
    margin-bottom: var(--spacing-small);
}

li {
    line-height: var(--line-height-base);
    text-wrap: pretty;
}

a {
    color: var(--color-primary);
    text-decoration: none; 
    cursor: pointer; 
}

img,
picture,
svg,
video {
    display: block;
    max-inline-size: 100%;
    height: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: var(--spacing-medium);
    font-size: 1rem;
    text-align: left;
}

caption {
    margin-bottom: var(--spacing-medium);
    font-weight: 700;
    font-size: var(--font-size-xl);
}

th, td {
    padding: var(--spacing-medium) var(--spacing-large);
    border-bottom: 1px solid var(--color-border);
}

th {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.scroll-progress {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--scroll-percent);
    height: 5px;
    background-color: var(--color-primary);
    z-index: 1000;
}