/* Universalselector */

*,
*::after,
*::before{
    box-sizing: border-box;
}

/* Root */
:root {
    
    --main-backgroundcolor: rgb(192, 243, 243);
    --secondary-backgroundcolor: rgb(222, 225, 230);
    --third-backgroundcolor:rgb(113, 102, 218);


    --main-fontcolor: rgb(59, 55, 55);
    --secondary-fontcolor:rgb(0, 0, 0);
    
    --border-radius:6px;

    --spacing-small: 0,5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;
    --spacing-xlarge: 3rem;

    text-align: center; 
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

nav {
    border-bottom: 2px solid #000000;
}

nav ul {
    list-style:none;
    padding:15px 0;
    padding-top:10px;
    display:flex;
    justify-content: center;
    margin: 0 auto;

}

nav li {
    /*background:var(--secondary-backgroundcolor); sieht nicht gut aus*/
    margin: 1%;
    
}

nav a {
    text-decoration: none;
    display: block;
    color:var(--secondary-fontcolor);
    padding: 5px 0;
    transition: rgb(88, 0, 252) 0.3 ease; /*übergang smooth*/
}

nav a:hover,
nav a:focus {
    color:rgb(0, 123, 255)
}

main {
    max-width: 1200px;
    margin: auto;
}

/* Typselektor */
p{
    max-width: 120ch;
    margin: 0 auto;
}



/* Pseudo Elemente */
p::selection{
    background:hsl(0, 93%, 46%)
}

/* Klasse */
.headline{
    text-transform:uppercase;
    text-decoration:underline solid;
}

.picture-galery{
    width: 90%;
    height:auto;
    display:flex;
    flex-wrap: wrap;
    gap: var(--spacing-medium);
    justify-content:center;
    align-items:center;
    border: 3px solid rgb(28, 26, 26);
    padding: var(--spacing-medium);
    border-radius: 10px;
    background-color: var(--secondary-backgroundcolor);
    margin: 0 auto; /*setzt links und rechts auf auto, zentriert galery*/
}

.picture-galery img {
    flex: 1 1 200px; /* 1 schrumpfen 1 wachsen basisbreite 200px*/
    max-width: 100%;
    height: auto;
}
.picture-galery p {
    flex-basis: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}


#whoami{
    border:3px solid black;
    font-size:95%;

}

table {
    border-collapse: collapse;
    width: 100%;
}

th,td {
    padding: 0.5em 1em;
    border-bottom: 2px solid var(--third-fontcolor);
    text-align: left;
}

tr:hover { /*hover über abschnitt*/
    background-color: var(--secondary-backgroundcolor);
    cursor: pointer; /* Zeigt an das Interativ ist, auch wenn nicht ist*/
}

caption {
    padding-top: var(--spacing-large);
    padding-bottom: var(--spacing-medium);
    font-size:2rem;
    font-weight: bold;
    
}

input {
    width: 100%;
    padding:var(--spacing-medium);
    margin: var(--spacing-small) 0;
    border: 1px solid var(--third-fontcolor);
}

#websitetypes {
    text-align: left;
    display:flex;
    margin-top: 0;
    margin-bottom: var(--spacing--medium);
    font-size: 1rem;
}

#contact {
    gap: var(--spacing-medium);
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    font-size: 1.5rem;
    
}
#introductionsentence {
    margin-bottom: var(--spacing-xlarge);
}

input[type="submit"] {
    cursor: pointer;
    border-bottom: 0;
    font-size: 1.2rem;
    transition: width 0.4s ease-in-out;

}

input[type="submit"]:hover {
    background-color: var(--third-backgroundcolor);
}

input[type="reset"] {
    cursor: pointer;
    border-bottom: 0;
    font-size: 1.2rem;
    transition: width 0.4s ease-in-out;

}


input[type="reset"]:hover {
    background-color: var(--third-backgroundcolor);
}

datalist {
    width: 100%;
    padding: var(--spacing-medium) var(--spacing-medium);
    
}

textarea {
    height: 200px;
    width: 100%;
    padding:var(--spacing-medium);
}